<h1>Hello ! Merci de bien vouloir confirmer votre adresse mail</h1>

<p>
    Veuillez cliquer sur le lien suivant pour confirmer votre Email : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientot !
</p>
