<div class="card accordion-item">
    <h2 class="accordion-header" id="headingDocuments">
        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionDocuments" aria-expanded="false" aria-controls="accordionDocuments" role="tabpanel">
            Documents
        </button>
    </h2>
    <div id="accordionDocuments" class="accordion-collapse collapse" aria-labelledby="headingDocuments" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
            </form>
        </div>
    </div>
</div>
