<div class="card accordion-item active">
    <h2 class="accordion-header" id="headingCompta">
        <button type="button" class="accordion-button is-size-5 has-text-weight-bold" data-bs-toggle="collapse" data-bs-target="#accordionCompta" aria-expanded="true" aria-controls="accordionCompta" role="tabpanel">
            Comptabilité
        </button>
    </h2>

    <div id="accordionCompta" class="accordion-collapse collapse show" data-bs-parent="#accordionMain">
        <div class="accordion-body">
            <div class="col-xxl">
                <form>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                        <label for="floatingInput">Name</label>
                        <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                        <label for="floatingInput">Name</label>
                        <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                        <label for="floatingInput">Name</label>
                        <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                        <label for="floatingInput">Name</label>
                        <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>