<div class="card accordion-item">
    <h2 class="accordion-header" id="headingParametresGestion">
        <button type="button" class="accordion-button collapsed is-size-5 has-text-weight-bold" data-bs-toggle="collapse" data-bs-target="#accordionParametresGestion" aria-expanded="false" aria-controls="accordionParametresGestion" role="tabpanel">
            Paramètres & Gestion
        </button>
    </h2>
    <div id="accordionParametresGestion" class="accordion-collapse collapse" aria-labelledby="headingParametresGestion" data-bs-parent="#accordionMain">
        <div class="accordion-body">
            <form>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                    <label for="floatingInput">Name</label>
                    <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                    <label for="floatingInput">Name</label>
                    <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                    <label for="floatingInput">Name</label>
                    <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>
                </div>
            </form>
        </div>
    </div>
</div>
