<span class="badge rounded-pill bg-info"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<small>Féminin</small>"
>
    <i class='bx bx-xs bx-female-sign'></i>
</span>
