<span class="badge rounded-pill bg-warning"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<small>Masculin</small>"
>
    <i class='bx bx-xs bx-male-sign'></i>
</span>
