<span class="badge rounded-pill bg-label-secondary"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<small>Non cummuniqué</small>"
>
    <i class='bx bx-xs bx-question-mark'></i>
</span>
