<span class="badge bg-label-secondary"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<small>Non cummuniqué</small>"
>
    N/C
</span>
