{% extends 'base.html.twig' %}

{% block title %}Immobilier{% endblock %}

{% block title_main %}Votre gestion immobilière{% endblock %}

{% block body %}



            <div class="column is-flex-desktop is-align-items-center is-flex-direction-column">

                    {% set total_loyer_ttc = 0 %}
                    {% set total_loyer_hc = 0 %}
                    {% set total_charges = 0 %}
                    {% for bien_immo in bien_immos %}
                        {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
                        {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
                        {% set total_charges =  total_charges + bien_immo.charges %}
                            <div class="column is-two-fifths-widescreen">
                                {{ include('immo/biens_card.html.twig') }}
                            </div>
                    {% else %}

                        <span>Vous n'avez aucun Biens immobiliers enreggistrés</span>

                    {% endfor %}

{#                            {{ total_loyer_hc }} €#}

{#                            {{ total_charges }} €#}

{#                            {{ total_loyer_ttc }} €#}

            </div>

{% endblock %}
