{% set total_loyer_ttc = 0 %}
{% set total_loyer_hc = 0 %}
{% set total_charges = 0 %}

{% for bien_immo in biens_immos %}
    {% set total_loyer_ttc =  total_loyer_ttc + (bien_immo.loyerHc + bien_immo.charges) %}
    {% set total_loyer_hc =  total_loyer_hc + bien_immo.loyerHc %}
    {% set total_charges =  total_charges + bien_immo.charges %}
{% endfor %}

<div class="card mb-5">
    <header class="card-header has-background-primary mb-1">
        <p class="card-header-title has-text-light has-icons-left is-flex-direction-column-touch">

            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-info"></i>
                </span>
                <span class="has-text-weight-bold">
                    Informations
                </span>
            </span>

        </p>
    </header>

    <div class="card-content px-0 py-0">
        <div class="content">

            <div class="column is-flex px-0 pt-0 pb-1">
                <div class="column is-2 px-1 py-1 has-background-primary has-text-light is-flex is-justify-content-center is-align-items-center">
                    <div class="icon-text">
                        <span class="icon has-text-light">
                            <i class="fas fa-building"></i>
                        </span>
                    </div>
                </div>
                <div class="column is-expanded px-5 py-1 is-flex-mobile is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    <span class="has-text-info has-text-weight-bold">
                        {{ biens_immos.getTotalItemCount }}
                    </span>
                    <span>biens immobiliers</span>
                </div>
            </div>

            <div class="column is-flex px-0 pt-0 pb-1">
                <div class="column is-2 px-1 py-1 has-background-primary has-text-light is-flex is-justify-content-center is-align-items-center">
                    <div class="icon-text">
                        <span class="icon has-text-light">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="column is-expanded px-5 py-1 is-flex-mobile is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    <span class="has-text-info has-text-weight-bold">
                        {{ locataires.getTotalItemCount }}
                    </span>
                    <span>locataires</span>
                </div>
            </div>

            <div class="column is-flex px-0 pt-0 pb-1">
                <div class="column is-2 px-1 py-1 has-background-primary has-text-light is-flex is-justify-content-center is-align-items-center">
                    <div class="icon-text">
                        <span class="icon has-text-light">
                            <i class="fas fa-wallet"></i>
                        </span>
                    </div>
                </div>
                <div class="column is-expanded px-5 py-1 is-flex-mobile is-justify-content-center is-align-items-center is-expanded has-text-centered">
                    <span class="has-text-info has-text-weight-bold">
                        {{ total_loyer_ttc }}
                    </span>
                    <span>
                        €
                    </span>
                </div>
            </div>


        </div>
    </div>
    {#
    <footer class="card-footer is-flex-direction-column-mobil card-footer-column-mobil">
        <a href="#" class="card-footer-item bg-primary-onhover is-primary-touch text-white-onhover text-bold-onhover has-text-centered">
            Menu 1
        </a>
        <a href="#" class="card-footer-item bg-primary-onhover is-primary-touch text-white-onhover text-bold-onhover has-text-centered">
            Menu 2
        </a>
    </footer>
    #}
</div>
