{% extends 'base.html.twig' %}

{% block title %}Télécharger du devis{% endblock %}

{% block body %}
        <a href="{{ asset('build/devis/') }}{{ file_name }}.pdf" class="button" target="_blank">
            <span class="icon">
                <i class="fa fa-download"></i>
            </span>
            <span>{{ file_name }}</span>
        </a>
{% endblock %}
