{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}
{% block title_main %}Ajouter une entrerise{% endblock %}

{% block body %}

    {{ include('themes/form/_form.html.twig') }}

    <a class="button" href="{{ path('entreprise_index') }}">Retour à la liste des entreprises</a>
{% endblock %}
