{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}

        <div class="column is-flex is-justify-content-center">
                <div class="buttons">
                        {% for entreprise in entreprises %}
                                <div class="button is-dark bg-info-onhover">
                                        {{ entreprise.name }}
                                </div>
                        {% endfor %}
                </div>
        </div>



    {#
    <div class="hero-body">
        <div class="column is-flex-desktop">
            <a href="{{ path('devis') }}" class="column button is-light is-outlined is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1" style="height: 50vh">
                <span class="has-text-centered">Devis</span>
            </a>
            <a href="fac" class="column button is-light is-outlined is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1" style="height: 50vh">
                <span class="has-text-centered">Factures</span>
            </a>
        </div>

    </div>
    #}
{% endblock %}
