{% extends 'base.html.twig' %}

{% block title %}Entreprenariat{% endblock %}
{% block title_main %}Gestion de votre entreprise{% endblock %}

{% block body %}

    <div class="column is-flex-desktop">
        {% for entreprise in entreprises %}
            <a href="{{ path('entreprenariat_entreprise', {'id': entreprise.id}) }}" class="column mx-1 my-1 is-dark bg-info-onhover text-white-onhover is-flex is-justify-content-center is-align-items-center" style="height: 200px;">
                {{ entreprise.name }}
            </a>
        {% endfor %}
    </div>

{% endblock %}
