<form class="has-text-centered" method="post" action="{{ path('locataire_delete', {'id': locataire.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer définitivement ce locataire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locataire.id) }}">
    <button class="button is-danger is-small mx-3 my-2">
        <span class="icon">
            <i class="fas fa-lg fa-trash-alt"></i>
        </span>
        <span>
            Supprimer le locataire
        </span>
    </button>
</form>
