{% extends 'base.html.twig' %}

{% block title %}Liste des Locataires{% endblock %}

{% block title_main %}Liste des <b>Locataires</b>{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Immobilier /</span> Mes locataires</h4>
            {{ include('locataire/_table.html.twig') }}
        </div>
    </div>
{% endblock %}
