{% extends 'base.html.twig' %}

{% block title %}Ajouter un locataire{% endblock %}

{% block title_main %}Ajouter un locataire{% endblock %}

{% block body %}

    {{ include('locataire/_form.html.twig') }}

    <a href="{{ path('locataire_index') }}" class="button is-dark">Retour à la liste des locataires</a>

{% endblock %}
