{% extends 'base.html.twig' %}

{% block title %}Locataires{% endblock %}

{% block title_main %} {{ locataire|default('#'~locataire.id) }} {% endblock %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Locataires /</span> {{ locataire }}</h4>
            <div class="col-12">
                <div class="col-12 col-md-6">
                    {{ include('locataire/_card.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
