<div class="col-12 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="card-title d-flex gap-2 align-items-center">
                <span class="badge bg-label-primary">
                    <i class='bx bxs-building-house'></i>
                </span>
                <span class="d-block text-muted">Nombre de biens immobiliers</span>
            </div>
            <h1 class="display-1 card-title text-nowrap mb-2 has-text-centered text-primary">{{ biens_immos|length|default(0) }}</h1>
        </div>
    </div>
</div>
