{% set locataires = 0 %}
{% for bien_immo in biens_immos %}
    {% if bien_immo.locataire %}
        {% set locataires = locataires + 1 %}
    {% endif %}
{% endfor %}
<div class="col-12 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="card-title d-flex gap-2 align-items-center">
                <span class="badge bg-label-primary">
                    <i class='bx bxs-group'></i>
                </span>
                <span class="d-block text-muted">Nombre de locataires logés</span>
            </div>
            <h1 class="display-1 card-title text-nowrap mb-2 has-text-centered text-primary">{{ locataires|default(0) }}</h1>
        </div>
        <div class="card-footer is-justify-content-end">
            <a href="{{ path('locataire_index') }}"
               class="button btn-primary btn-sm"
               data-bs-toggle="tooltip"
               data-bs-offset="0,4"
               data-bs-placement="top"
               data-bs-html="true"
               title="<small>Voir la liste des locataires</small>"
            >
                <i class='bx bx-list-ul'></i>
            </a>
        </div>
    </div>
</div>
