<div class="col-12 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="card-title d-flex gap-2 align-items-center">
                <span class="badge bg-label-primary">
                    <i class='bx bxs-coin-stack'></i>
                </span>
                <div class="d-flex is-flex-direction-column">
                    <span class="d-block text-muted">Total des loyers perçus pour ce mois : <b class="text-black">{{ 'now'|format_datetime(pattern='MMMM', locale='fr')|capitalize }}</b></span>
                </div>
            </div>
            <h1 class="display-1 card-title text-nowrap mb-2 has-text-centered text-primary {% if total_loyers_percus_current_month|number_format(0,',','')|length <= 4 %}is-size-super{% endif %}">{{ total_loyers_percus_current_month|number_format(0,',','')|default(0) }}€</h1>
        </div>
        <div class="card-footer is-justify-content-end">
            <a href="{{ path('quittances_index') }}"
               class="btn btn-primary btn-sm"
               data-bs-toggle="tooltip"
               data-bs-offset="0,4"
               data-bs-placement="top"
               data-bs-html="true"
               title="<small>Voir la liste des quittances de loyers</small>"
            >
                <i class='bx bx-list-ul'></i>
            </a>
        </div>
    </div>
</div>
