<div class="col-12 col-lg-4 col-xl-4 order-4 mb-4">

    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <h5 class="m-0 me-2">Mes locataires</h5>
                <small class="text-muted">Vous avez un total de {{ locataires|length }} locataires enregistrés</small>
            </div>
            {#
            <div class="dropdown">
                <button
                        class="btn p-0"
                        type="button"
                        id="transactionID"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                    <a class="dropdown-item" href="{{ path('locataire_index') }}">Liste des locataires</a>
                </div>
            </div>
            #}
        </div>
        {% if locataires|length > 0 %}
            <div class="card-body overflow-hidden perfect-scrollbar" style="max-height: 350px">
                <ul class="p-0 m-0">
                    {% for locataire in locataires %}
                        {% include 'includes/locataire_row.html.twig' %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
                <div class="card-body is-flex is-flex-direction-column justify-content-evenly">
                    <p class="card-text text-center">Vous n'avez aucun locataires enregistrés</p>
                    <a href="{{ path('locataire_new') }}" class="btn btn-primary">Enregistrer un locataire</a>
                </div>
        {% endif %}
        <div class="card-footer is-justify-content-end">
            <a href="{{ path('locataire_index') }}"
               class="button btn-primary btn-sm"
               data-bs-toggle="tooltip"
               data-bs-offset="0,4"
               data-bs-placement="top"
               data-bs-html="true"
               title="<small>Voir la liste des locataires</small>"
            >
                <i class='bx bx-list-ul'></i>
            </a>
        </div>
    </div>

</div>
