
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Loyers</h5>
            <div class="dropdown">
                <button
                        class="btn p-0"
                        type="button"
                        id="transactionID"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                    <a class="dropdown-item" href="javascript:void(0);">Payés</a>
                    <a class="dropdown-item" href="javascript:void(0);">En attente de paiement</a>
                    <a class="dropdown-item" href="javascript:void(0);">Tout les loyers</a>
                </div>
            </div>
        </div>
        {% if break == true %}
            <div class="card-body overflow-hidden perfect-scrollbar" style="max-height: 350px">
                <ul class="p-0 m-0">
                    {% for bien_immo in biens_immos %}
                        {% set last_quittance = bien_immo.quittances|sort((a, b) => a.date <=> b.date)|last %}
                        {% include 'includes/biens_row.html.twig' %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
                <div class="card-body is-flex is-flex-direction-column justify-content-evenly">
                    <p class="card-text text-center">Vous n'avez aucun loyers éditées</p>
                    <a href="#" class="btn btn-primary">Editer une quittance de loyer</a>
                </div>
        {% endif %}
    </div>
