{% extends "base.html.twig" %}

{% block title %}Ajouter un prestataire{% endblock %}

{% block title_main %}Ajouter un prestataire{% endblock %}

{% block body %}
    <div class="hero-body">

        <div class="column is-flex is-justify-content-center">

            {{ form_start(form, {'attr': {'class': 'column is-two-fifths '~ form.vars.name, 'id': 'form', 'onsubmit':'isLoading(this)'} }) }}

                <button class="button" type="submit">
                    Sauvegarder les modifications
                </button>
            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}