<footer class="footer has-background-like-header has-text-light">
    <div class="content has-text-centered">

        <div class="columns footer-content">
            <div class="column is-flex is-flex-direction-column">
                <span>
                    <a href="{{ path('immo_accueil') }}" class="has-text-light">Immobilier</a>
                </span>
                <span>
                    <a href="{{ path('entreprenariat_home') }}" class="has-text-light">Entreprenariat</a>
                </span>
            </div>
            <div class="column is-flex is-flex-direction-column">
                <span>
                    <a href="#" class="has-text-light">CGU / CGV</a>
                </span>
                <span>
                    <a href="#" class="has-text-light">Menu 3</a>
                </span>
            </div>
        </div>
        <hr style="height: 1px;">
        <div class="columns has-text-centered is-justify-content-center">
            <span>
                © 2021 | <a class="has-text-light" href="{{ path('home') }}">www.edit-word.com</a> | Propriété de chrisBdev. Tout droits réservés.
            </span>
        </div>

    </div>
</footer>