<div class="field has-text-right">
    <a class="button is-small is-danger is-light form-lock-btn" title="Modifier les informations">
        <span class="icon">
            <i class="fas fa-lg fa-lock"></i>
        </span>
    </a>
</div>
