
    <div class="is-flex justify-content-center">
        <a href="/" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">
                <img style="width: 200px" src="{{ asset('images/KH_NOIR_SANS-FOND.png') }}" alt="">
            </span>
        </a>
    </div>