    <a href="{{ path('bien_immo_new') }}"
       class="card text-white bg-primary has-text-centered h-100"
       data-bs-toggle="tooltip"
       data-bs-offset="0,4"
       data-bs-placement="top"
       data-bs-html="true"
       title="<small>Ajouter un nouveau bien immobilier</small>"
    >
        <div class="card-body is-flex-direction-column is-flex is-justify-content-space-between bx-tada-hover">
            <span>
                <i class="tf-icons bx bx-plus bx-xs"></i>
                <i class='bx bxs-building-house bx-sm'></i>
            </span>

            <p class="card-text h-auto">
                Ajouter un bien
            </p>
        </div>
    </a>
