{% import 'includes/macros.html.twig' as macros %}
<div class="col-4 mb-4">
    <div class="card text-white bg-primary has-text-centered h-100">
        <div class="card-body">
            <h5 class="card-title text-white">
                Ajouter un nouveau bien
                <i class='bx bxs-building-house'></i>
            </h5>
            <p class="card-text h-auto">
                <a href="{{ path('bien_immo_new') }}" type="button" class="btn btn-outline-light me-2">
                    <span class="tf-icons bx bx-plus"></span> Ajouter
                </a>
            </p>
        </div>
    </div>
</div>
