
{% if bien_immo.prestataire|length == 0 %}
        <i>Aucun prestataire n'a été enregistré pour l'instant</i>
{% else %}
        {% for prestataire in bien_immo.prestataire|sort %}
                <div class="tags are-normal has-addons">
                        <a class="tag is-light" title="" href="#">
{#                                <span class="icon">#}
{#                                        <i class="fas fa-lg fa-file-pdf"></i>#}
{#                                </span>#}
                                <span class="overflow-ellipsis-200px">
                                        {{ prestataire.name }}
                                </span>
                        </a>
                        <a class="tag is-delete" href="{{ path('remove_prestataire', {'id': bien_immo.id, 'presta_id': prestataire.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir retirer ce prestataire')"></a>
                </div>
        {% endfor %}

{% endif %}

