<div class="tabs is-centered is-boxed is-small mb-0">
    <ul>

        {% if form.vars.name == 'locataire' %}
            <div class="is-hidden" id="locataire"></div>
            <li class="is-active tab" id="">
                <a>
                    <span class="icon is-small">
                        <i class="fas fa-lg fa-user" aria-hidden="true">

                        </i></span>
                    <span>Locataire</span>
                </a>
            </li>

            {% if 'new' not in app.request.get('_route') %}
                <div class="is-hidden" id="quittances"></div>
                <li class="tab" id="">
                    <a>
                        <span class="icon is-small">
                            <i class="fas fa-lg fa-copy" aria-hidden="true"></i>
                        </span>
                        <span>Quittances</span>
                    </a>
                </li>
            {% endif %}

        {% endif %}

    </ul>
</div>
