<div class="tabs is-centered is-boxed is-small mb-0">
    <ul>

        {% if form.vars.name == 'bien_immo' %}
            <div class="is-hidden" id="logement"></div>
            <li class="is-active tab" id="">
                <a>
                    <span class="icon is-small"><i class="fas fa-lg fa-building" aria-hidden="true"></i></span>
                    <span>Bien immobilier</span>
                </a>
            </li>

            <div class="is-hidden" id="copropriete"></div>
            <li class="tab" id="">
                <a>
                    <span class="icon is-small">
                        <i class="fas fa-lg fa-hands-helping" aria-hidden="true"></i>
                    </span>
                    <span>Syndic</span>
                </a>
            </li>

            {% if 'new' not in app.request.get('_route') %}
                <div class="is-hidden" id="prestataire"></div>
                <li class="tab" id="">
                    <a>
                        <span class="icon is-small">
                            <i class="fas fa-lg fa-briefcase" aria-hidden="true"></i>
                        </span>
                        <span>Prestataires</span>
                    </a>
                </li>
            {% endif %}

            {% if locataire_twig %}
                <div class="is-hidden" id="files"></div>
                <li class="tab" id="">
                    <a>
                        <span class="icon is-small">
                            <i class="fas fa-lg fa-copy" aria-hidden="true"></i>
                        </span>
                        <span>Fichiers</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="is-hidden" id="etatDesLieux"></div>
                <li class="tab" id="">
                    <a>
                        <span class="icon is-small">
                            <i class="fas fa-lg fa-copy" aria-hidden="true"></i>
                        </span>
                        <span>Etats des lieux</span>
                    </a>
                </li>
            {% endif %}

        {% endif %}

{#        {{ dump(app.request.get('_route')) }}#}
        {% if (form.vars.name == 'user' and app.request.get('_route') != 'user_new') or form.vars.name == 'change_password_user' %}
            <div class="is-hidden" id="gestionnaire"></div>
            <li class="{% if form.vars.name == 'user' %}is-active{% endif %} tab" id="">
                <a href="{{ path('user_edit', {'id': user.id}) }}#gestionnaire">
                    <span class="icon is-small">
                        <i class="fas fa-lg fa-user-edit" aria-hidden="true"></i>
                    </span>
                    <span>Mes informations</span>
                </a>
            </li>

            <div class="is-hidden" id="securite"></div>
            <li id="" class="{% if form.vars.name == 'change_password_user' %}is-active{% endif %} tab">
                <a href="{{ path('change_password', {'id': user.id}) }}#securite">
                    <span class="icon is-small">
                        <i class="fas fa-lg fa-shield-alt" aria-hidden="true"></i>
                    </span>
                    <span>Securité</span>
                </a>
            </li>
        {% endif %}

    </ul>
</div>
