<aside class="menu">
    <p class="menu-label">
        Ma gestion immobilière
    </p>
    <ul class="menu-list">
        <li><a>Vue d'ensemble</a></li>
        <li>
            <a>Biens immobiliers</a>
            <ul>
                <li><a>Mes biens immobiliers</a></li>
                <li><a>Ajouter un bien</a></li>
            </ul>
        </li>
        <li>
            <a>Locataires</a>
            <ul>
                <li><a>Mes locataires</a></li>
                <li><a>Ajouter un locataires</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Mon profil
    </p>
    <ul class="menu-list">
        <li><a>Modifier mon profil</a></li>
        <li><a>Modifier mon mot de passe</a></li>
    </ul>
</aside>
