$info : #3488CE;
$danger : #d30000;
$success : #67b99a;
$warning : #ffe66d;
$table-head-background-color : whitesmoke;
//$table-head-cell-color : white;
$table-foot-background-color : whitesmoke;
//$table-foot-cell-color : white;

.button, a{
    //border-radius: 0 !important;
    transition: .25s;
}

th, td{
  white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
}

th>span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

option{
  text-align: center;
}

a.navbar-item:focus, a.navbar-item:focus-within{
    background-color: rgba(0,0,0,0) !important;
}

.borderless-radius{
  border-radius: 0px !important;
}

.help-mouse-hover:hover{
  cursor: help;
}

.bg-info-onhover:hover{
    background-color: $info !important;
}
.bg-info-05-onhover:hover{
  background-color: rgba(52, 136, 206, 0.5) !important;
}
.text-white-onhover:hover{
   color: white !important;
}
.text-black-onhover:hover{
    color: black !important;
}
.text-info-onhover:hover{
  color: $info !important;
}

i.fa-search-js{
  width: 0;
  opacity: 0;
  overflow: hidden !important;
  transition: .2s
}

.fa-search-js:hover{
  i.fa-search-js{
    width: auto;
    opacity: 1;
  }
}

.show-on-hover-target{
  //display: inline-block !important;
  visibility: hidden;
  width: 0px !important;
  opacity: 0 !important;
  transition: .3s;
}

.show-on-hover-target-active{
  visibility: visible;
  width: 15px !important;

  opacity: 1 !important;
  transition: .3s;
}

.is-absolute{
  position: absolute !important;
}

.is-blurred{
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: ease .5s;
}

@media (min-width: 1023px) {
  .is-blurred-desktop{
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: ease .5s;
  }
}

.is-absolute-top-0{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.remove-blurred-onhover:hover{
  filter: none;
  -webkit-filter: none;
}

.is-bottom{
  bottom: 0 !important;
}

.is-top{
  top: 0 !important;
}

@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
