$info : #3488CE;
$table-head-background-color : #363636;
$table-head-cell-color : white;
$table-foot-background-color : #363636;
$table-foot-cell-color : white;

.button, a{
    //border-radius: 0 !important;
    transition: .25s;
}

th>span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

a.navbar-item:focus, a.navbar-item:focus-within{
    background-color: rgba(0,0,0,0) !important;
}

.bg-info-onhover:hover{
    background-color: $info !important;
}
.text-white-onhover:hover{
   color: white !important;
}
.text-black-onhover:hover{
    color: black !important;
}

i.fa-search-js{
  width: 0;
  //opacity: 0;
  overflow: hidden !important;
  transition: .3s
}

a.fa-search-js:hover{
  i.fa-search-js{
    width: 50px;
    //opacity: 1;
  }
}

@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
