$info : #3488CE;

.button, a{
    //border-radius: 0 !important;
    transition: .25s;
}

a.navbar-item:focus, a.navbar-item:focus-within{
    background-color: rgba(0,0,0,0) !important;
}

.bg-info-onhover:hover{
    background-color: $info !important;
}
.text-white-onhover:hover{
   color: white !important;
}
.text-black-onhover:hover{
    color: black !important;
}

@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
