<div class="column is-flex p-0 box-shadow-bulma">

    <div class="column p-0 is-flex-desktop is-justify-content-center is-align-items-center is-expanded">

        <div class="column p-0 is-flex is-expanded">
            <div class="p-2 is-flex is-justify-content-center is-align-items-center">
                <div class="hovertext help-mouse-hover" data-hover="Loyer (CC)">
                    <span class="icon">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </span>
                </div>
            </div>
            <span class="column is-expanded">{{ bien_immo.loyerTtc|number_format(2) }} €</span>
        </div>

    </div>

</div>