{% extends 'base.html.twig' %}

{% block title %}Edition d'une quittance{% endblock %}

{% block title_main %}Edition d'une Quittance  pour {{ locataire }}{% endblock %}

{% block body %}

    {{ include('includes/third_header.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="column has-text-centered">
            <a href="{{ path('pdf_quittance', {'id': 2}) }}" class="button">PDF</a>
        </div>
    {% endif %}

    {{ include('themes/form/_form.html.twig') }}

{% endblock %}
