{% extends 'base.html.twig' %}

{% block title %}Edition d'un devis{% endblock %}

{% block title_main %}Edition d'un devis{% endblock %}

{% block body %}

        <div class="hero-body">
            <div class="column py-0 px-0 has-text-centered is-flex is-justify-content-center is-white">
                {% form_theme form 'themes/form/form_errors.html.twig' %}
                {{ form_start(form, {'attr': {'class': 'is-half is-one-third-widescreen column py-0 px-0'}}) }}

                {{ include('entreprenariat/devis/infos_client.html.twig') }}

                <hr>

                {{ include('entreprenariat/devis/infos_prestations.html.twig') }}

                <div class="control">
                    <button class="button is-small is-success">Editer le devis</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

{% endblock %}
