{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div class="hero-body is-flex is-justify-content-center is-align-items-center" style="height: 100%;">

            <div class="column is-flex-desktop is-justify-content-center">
                <a href="{{ path('immo_accueil') }}" class="column is-one-third-desktop is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-2 my-2 is-relative box-shadow-bulma border-radius-2px has-background-light is-blurred-desktop remove-blurred-onhover scale-down-onhover" style="height: 50vh;max-height: 40vh;background: bottom / cover no-repeat url({{ asset('build/images/architecture-g348c7dafa_1920.013c9aa6.jpg') }})">
                    <span class="has-text-centered is-absolute is-top is-size-3 is-bold px-3 mx-4 my-4 has-text-info has-text-weight-bold" style="background: rgba(255,255,255,.5);border-radius: 5px"><b>Immobilier</b></span>
                </a>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <a href="{{ path('entreprenariat_home') }}" class="column is-one-third-desktop is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-2 my-2 is-relative box-shadow-bulma border-radius-2px has-background-light is-blurred-desktop remove-blurred-onhover scale-down-onhover" style="height: 50vh;max-height: 40vh;background: center / 55% no-repeat url({{ asset('build/images/undraw_windy_day_x-63-l.1e321d35.svg') }})">
                        <span class="has-text-centered is-absolute is-top is-size-3 is-bold px-3 mx-4 my-4 has-text-info has-text-weight-bold" style="background: rgba(255,255,255,.5);border-radius: 5px"><b>Entreprenariat</b></span>
                    </a>
                {% endif %}
            </div>

        </div>
{% endblock %}
