{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div class="hero-body">

            <div class="column is-flex-desktop">
                <a href="{{ path('immo_accueil') }}" class="column is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1 is-relative is-blurred-desktop remove-blurred-onhover" style="height: 50vh;background: center / contain no-repeat url({{ asset('build/images/immo_illustration.7ed4e359.png') }})">
                    <span class="has-text-centered is-absolute is-top is-size-3 is-bold px-3 has-text-info" style="background: rgba(255,255,255,.5);border-radius: 5px">Immobilier</span>
                </a>
                <a href="{{ path('job') }}" class="column is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1 is-relative is-blurred-desktop remove-blurred-onhover" style="height: 50vh;background: center / contain no-repeat url({{ asset('build/images/job_illustration.1490fee2.png') }})">
                    <span class="has-text-centered is-absolute is-top is-size-3 is-bold px-3 has-text-info" style="background: rgba(255,255,255,.5);border-radius: 5px">Entreprenariat</span>
                </a>
            </div>

        </div>
{% endblock %}
