{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div class="hero-body">
            <div class="column has-background-warning" style="height: 50vh">
                <a href="#" class="button">Quittance de loyer</a>
            </div>
            <div class="column has-background-info" style="height: 50vh">
                <a href="{{ path('devis') }}" class="button">Devis</a>
            </div>
        </div>
{% endblock %}
