{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div class="hero-body">

            <div class="column is-flex-desktop">
                <a href="{{ path('immo_accueil') }}" class="column button is-light is-outlined is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1" style="height: 50vh">
                    <span class="has-text-centered">Immobilier</span>
                </a>
                <a href="{{ path('job') }}" class="column button is-light is-flex is-justify-content-center is-align-items-center px-0 py-0 mx-1 my-1" style="height: 50vh">
                    <span class="has-text-centered">Job</span>
                </a>
            </div>

        </div>
{% endblock %}
