{% extends 'base.html.twig' %}

{% block title %}Biens immobiliers{% endblock %}

{% block title_main %}Liste des <b>Biens immobiliers</b>{% endblock %}

{% block body %}

    <section class="m-3">
        {{ include('bien_immo/biens_immos_table.html.twig') }}
    </section>

<section class="container">

    <div class="is-flex is-flex-direction-column is-align-items-center">
        <div class="tags has-addons mb-0">
            <span class="tag has-text-weight-bold">Nombre total de bien immobilier</span>
            <span class="tag is-dark">{{ biens_immos.getTotalItemCount }}</span>
        </div>
        {{ knp_pagination_render(biens_immos) }}
    </div>

{#  POUR GOOGLE MAPS SEARCH  #}
{#    <input type="text" id="autocomplete" placeholder="Indiquer une adresse">#}
{#  ##############  #}

</section>
{% endblock %}
