{% extends 'base.html.twig' %}

{% block title %}Ajouter un bien immobilier{% endblock %}

{% block title_main %}Ajouter un Bien immobilier{% endblock %}

{% block body %}

    {{ include('themes/form/_form.html.twig') }}

    <div class="buttons mx-3 my-3">
        <a href="{{ path('bien_immo_index') }}" class="button is-dark">Retour à la liste des Biens immobiliers</a>
    </div>

{% endblock %}
