{% extends 'base.html.twig' %}

{% block title %}New BienImmo{% endblock %}

{% block body %}
    <h1>Ajouter un Bien immobilier</h1>

    {{ include('bien_immo/_form.html.twig') }}

    <a href="{{ path('bien_immo_index') }}">Retour à la liste des Biens immobiliers</a>
{% endblock %}
