{% extends 'base.html.twig' %}

{% block title %}Biens immobiliers{% endblock %}

{% block title_main %} {{ bien_immo|default('#'~bien_immo.id) }} {% endblock %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Biens Immobiliers /</span> {{ bien_immo }}</h4>
            <div class="col-12">
                <div class="col-12 col-md-6">
                    {{ include('bien_immo/_card.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
