{% for quittance in bien_immo.quittances %}
        {% if bien_immo.quittances|length %}
        <div class="column is-half-desktop px-0 py-0 pb-3">
                <a href="{{ asset('documents/quittances/') }}{{ quittance.fileName }}.pdf" class="button is-small" target="popup">
                        {{ quittance.fileName }}
                        {{ quittance.createdDate|date('d/m/Y') }}
                </a>
        </div>
{% endfor %}

