{% extends 'base.html.twig' %}

{% block title %}{{ user }}{% endblock %}
{% block title_main %}{{ user }}{% endblock %}

{% block body %}

    {{ include('themes/form/_form_2.html.twig',{'section_title':'Mon compte'}) }}

    <div class="container-xxl flex-grow-1 container-p-y">
        <a href="{{ path('user_del', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce compte gestionnaire ? Le compte sera irrécupérable')">
            <span class="icon">
                <i class="fas fa-user-times"></i>
            </span>
            <span>
                Supprimer mon compte
            </span>
        </a>
    </div>

{% endblock %}
