{% extends 'base.html.twig' %}

{% block title %}Modification de mon mot de passe{% endblock %}
{% block title_main %}Modifier mon <b>mot de passe</b>{% endblock %}

{% block body %}

    {{ include('themes/form/_form.html.twig') }}

    <div class="column has-text-centered">
        <a href="{{ path('user_delete', {'id': user.id }) }}" class="button is-small is-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce compte gestionnaire ? Le compte sera irrécupérable')">
            <span class="icon">
                <i class="fas fa-user-times"></i>
            </span>
            <span>
                Supprimer mon compte
            </span>
        </a>
    </div>

{% endblock %}