{% extends 'base.html.twig' %}

{% block title %}Modification de mon mot de passe{% endblock %}
{% block title_main %}Modifier mon <b>mot de passe</b>{% endblock %}

{% block body %}

    {{ include('themes/form/_form.html.twig') }}
{#    <div class="column is-flex is-justify-content-center">#}
{#        {{ form_start(form, {'attr': {'class': 'column is-two-fifths '~ form.vars.name, 'onsubmit':'isLoading()'} }) }}#}
{#        {{ form_end(form) }}#}
{#    </div>#}

{#    <div class="field has-text-centered" id="save">#}
{#        <button class="button is-success is-small" id="btn-submit">#}
{#            Sauvegarder les modifications#}
{#        </button>#}
{#    </div>#}
{% endblock %}