{% extends 'base.html.twig' %}

{% block title %}Ajouter un gestionnaire{% endblock %}

{% block title_main %}Ajouter un gestionnaire{% endblock %}

{% block body %}

    {{ include('themes/form/_form.html.twig') }}

    <a class="button is-light is-small" href="{{ path('user_index') }}">Retour à la liste des gestionnaires</a>
{% endblock %}
